sf_bayes_model_avg.aux
sf_bayes_model_avg.bbl
sf_bayes_model_avg.blg
sf_bayes_model_avg.fdb_latexmk
sf_bayes_model_avg.fls
sf_bayes_model_avg.log
sf_bayes_model_avg.out
sf_bayes_model_avg.pdf
sf_bayes_model_avg.synctex.gz
sf_bayes_model_avg.toc
sf_bayes_model_avgNotes.bib